
.productPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.productPage__header {
  display: flex;
  align-items: center;
}

.productPage__main {
  padding: 0 70px 0 140px;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;


  & > div {
    width: 50%;
  }
}


.priceWrap {
  display: flex;
  align-items: center;
}

.btnWrap {
  margin-left: 68px;
  max-width: 200px;
  width: 100%;
}

