.CircleButton {
  border: 1px solid #ffffff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  &:hover {
    background-color: #d58c51;
    border: transparent 1px;
  }
}
